body, html{
  height: 100%;
  margin:0;
  font-size:16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.pimg1, .pimg2, .pimg3{
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /*
    fixed = Parallax
    scroll = normal
  */
  background-attachment: fixed;
}

.pimg1{
  background-image: url('../img/day.jpg');
  min-height: 100%;
}

.pimg2{
  background-image: url('../img/london_night.jpg');
  min-height: 400px;
}

.pimg3{
  background-image: url('../img/thames.jpg');
  min-height: 400px;
}

.section{
  text-align: center;
  padding: 50px 80px;
}
